extends layout

block content
    h1= title
    p.lead Site internet de gesion de contact DEV2 #{title} #{info}

    div.container-narrow
        div.row
            hr
            if contacts
                ul.nav
                    each contact in contacts
                        li='Nom du contact: ' + contact.firstname + ' / ' + contact.lastname + ' / ' + contact.phone + ' / ' + contact.mail + ' / ' + contact.info + ' / ' + contact.linkedin + ' / ' + contact.avatar
            hr
            form(action='/users' method='POST')
              input(type='text' name='firstname' placeholder='firstname')
              input(type='text' name='lastname' placeholder='lastname')
              input(type='text' name='phone' placeholder='phone')
              input(type='text' name='email' placeholder='e-mail')
              input(type='name' name='linkedin' placeholder='linkedin profile')
              input(type='text-area' name='info' placeholder='info')
              input(type='submit')